<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<span>は～い</span>

<div>
<h3>Rails Doc</h3>
<a href="http://guides.rubyonrails.org/" target="_blank">Rails Guides</a><br>
<a href="http://guides.rubyonrails.org/getting_started.html" target="_blank">Getting Started</a><br>
<a href=""></a><br>
</div>

<div>
<%= link_to "My Blog", posts_path %>
</div>

